h1, h3 {
    border: solid black;
    text-align: center;
}
#mcD {
    height: 200px;
    position: relative;
    left: 30%;
}

#usa {
    height: 250px;
    position: relative;
    left: 30%;
}
    
#speak {
    height: 200px;
    position: relative;
    left: 25%;
}

div {
    border: solid black;
    background-color: #0055ff;
    border-radius: 10px;
    /*box-sizing: border-box;*/
    color: white;
    font-size: 17px;
    width: 100px;
    height: 70px;
    text-align: center;
  
}

.red {
    color: red;
}
